<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Configuration</key>
	<string>$(CONFIGURATION)</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>FirebaseAutomaticScreenReportingEnabled</key>
	<false/>
	<key>FirebaseCrashlyticsCollectionEnabled</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googlegmail</string>
		<string>readdle-spark</string>
		<string>airmail</string>
		<string>ms-outlook</string>
		<string>ymail</string>
		<string>fastmail</string>
		<string>protonmail</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>NSCalendarsUsageDescription</key>
	<string>We would like to utilize your calendar list to subscribe you to your personalized calendar for this course.</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>We would like to utilize your calendar list to subscribe you to your personalized calendar for this course.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Allow access to your photo library so you can save photos in your gallery.</string>
</dict>
</plist>
